//Fontes
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
$fonteTitulos:'Sofia', cursive;

// Cor base do projeto
$colorBase:#F3EFE0;
$colorBaseDestaque:#434242;
$colorBaseDestaqueSombra:#222222;
$colorBaseSombra:#22A39F;

// Tema Casa

$base:#E1DCE2;
$vermelhoVivo:#F21D1D;
$vermelhoSOmbra:#BF3030;
$beje:#F6EFE7;
$cinzaClaro:#F8F3F9;
        // acepted
        $azulDestaque:#828FD9;
        $azulClaro:#B6CAF2;