@import 'styles/_variaveis.scss';

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    background-color: $vermelhoSOmbra;
    font-family: $fonteTitulos;
    h2{
        font-size: 2rem;
        color: $azulClaro;        
    }
    img{
        width: 40%;
        max-width: 250px;
        padding: 0 1rem;
        border-bottom: 2px solid $vermelhoVivo;
        cursor: pointer;
    }
}