* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #BF3030;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #BF3030;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 1px solid #E1DCE2;
    /* creates padding around scroll thumb */
}